
// Color variables
$black: #000;
$white: #fff;
$transparent: transparent;

$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// text colors
$text-darker: #323233;
$text-dark: #606266;
$text-gray: #909399;
$text-gray-light: #C0C4CC;

// border colors
$border-darker: #DCDFE6;
$border-dark: #E4E7ED;
$border-gray: #EBEEF5;
$border-gray-light: #F2F6FC;

// Default colors
$background-color: #f8f8f8;
$background-color-light: #fafafa;
