@import "../../assets/scss/style";



.project {
  margin: 32px;
  position: relative;
  z-index: 0;
  font-size: 28px;
  color: #fff;
  // line-height: 100%;

  &--thumb {
    // position: absolute;
  }

  &--info {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
