@import './assets/scss/style.scss';

.fixed {
  bottom: 0;
  /* 在 H5 模式下将会编译成 margin-bottom: 50px，在小程序模式下则会忽略 */
  margin-bottom: taro-tabbar-height;
}

.page {
  height: 100%;
  color: $text-darker;
}

.page-gray {
  background-color: #f3f3f3;
}

.page-scroll-view {
  height: 100%;
}
